<h1><%= @game.current_turn.name %> attacked <%= @game.opponent.name %> and they lost 10hp</h1>
<!-- <a href='/play'>Play on...</a> -->
<form action="/play">
  <input type="submit" value="Play on..."/>
</form>
