<h1><%= @game.opponent.name %> attacked <%= @game.current_turn.name %> and they lost 10hp</h1>
<!-- <a href='/play'>Play on...</a> -->
<% if @game.opponent.dead? %>
  <h1> GAME FUCKING OVER BUDDY</h1>

<% else %>
  <form action="/play">
    <input type="submit" value="Play on..."/>
  </form>

<%end%>
