<html>
  <head>
    <title>BATTLE</title>
  </head>
  <body style="background-color: #FF0000;">
    <!-- <div id='header'>
      <!-- <nav>
        <ul>
          <li>Home</li>
          <li>Contact</li>
          <li>About Me</li>
        </ul>
      </nav> -->
    <!-- </div> -->
    <h1 style="color:black, font-size: 24px, text-align:center;">
    <h3 style="color:black, font-size: 12px, font-family: AppleGothic;"
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>
