<h1><%= @game.player_1.name %> attacked <%= @game.player_2.name %> and they lost 10hp</h1>
<!-- <a href='/play'>Play on...</a> -->
<form action="/play">
  <input type="submit" value="Play on..."/>
</form>
